body {
  width: 300px;
}

.audio_area #playhead {
  width: 2px;
  height: 2px;
  background-color: #0CBB08;
}

.audio_area {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 17px 1px 16px 0;
  font-size: 0;
  position: relative;
  font-weight: 400;
  text-decoration: none;
  -webkit-text-size-adjust: none;
}

.audio_wrp {
  border: 1px solid #ebebeb;
  background-color: #fcfcfc;
  overflow: hidden;
  padding: 12px 20px 12px 12px;
}

.audio_play_area {
  float: left;
  margin: 9px 22px 10px 5px;
  font-size: 0;
  width: 18px;
  height: 25px;
}

.audio_area .pic_audio_default {
  display: none;
  width: 18px;
}

.audio_area .audio_length {
  float: right;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 1em;
}

.audio_info_area {
  overflow: hidden;
}

.audio_area .audio_title {
  font-weight: 400;
  font-size: 17px;
  margin-top: -2px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.audio_area .audio_source {
  font-size: 14px;
}

.tips_global {
  color: #8c8c8c;
}

.audio_area .progress_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #eee;
  height: 2px;
  width: 100%;
}

.audio_play_area .icon_audio_default {
  background: transparent url(./img/icon_audio_unread26f1f1.png) no-repeat 0 0;
  width: 18px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  -webkit-background-size: 18px auto;
  background-size: 18px auto;
}

.audio_play_area .icon_audio_playing {
  background: transparent url(./img/icon_audio_reading_126f1f1.png) no-repeat 0 0;
  width: 18px;
  height: 25px;
  vertical-align: middle;
  -webkit-background-size: 18px auto;
  background-size: 18px auto;
  -webkit-animation: audio_playing 1s infinite;
  display: none;
}

@-webkit-keyframes audio_playing {
  30% {
    background-image: url(./img/icon_audio_reading_126f1f1.png)
  }
  31% {
    background-image: url(./img/icon_audio_reading_226f1f1.png)
  }
  61% {
    background-image: url(./img/icon_audio_reading_226f1f1.png)
  }
  62% {
    background-image: url(./img/icon_audio_reading_326f1f1.png)
  }
  100% {
    background-image: url(./img/icon_audio_reading_326f1f1.png)
  }
}
